In [61]:
import lxml.html as lh
import pandas as pd
import numpy as np
import requests
import warnings
warnings.filterwarnings('ignore')

In [62]:
covid_data = "https://www.worldometers.info/world-population/uganda-population/"
page_handler = requests.get(covid_data)
doc = lh.fromstring(page_handler.content)
tr_elements = doc.xpath('//tr')
[len(T) for T in tr_elements[:15]]

[1, 1, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13]

In [63]:
tr_elements=doc.xpath('//tr')
col = []
i = 0
for t in tr_elements[2]:
    i+=1
    name = t.text_content()
    print('%d:%s' % (i,name))
    col.append((name,[]))

1:Year
2:Population
3:Yearly %  Change
4:Yearly Change
5:Migrants (net)
6:Median Age
7:Fertility Rate
8:Density (P/Km²)
9:Urban Pop %
10:Urban Population
11:Country's Share of World Pop
12:World Population
13:UgandaGlobal Rank

In [64]:
for j in range(3,len(tr_elements)):
    T = tr_elements[j]
    
    if len(T)!=13:
        break
        
    i = 0
    
    for t in T.iterchildren():
        data = t.text_content()
        
        col[i][1].append(data)
        i+=1

In [65]:
[len(C) for (title,C) in col]

[19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19]

In [66]:
Dict = {title:column for (title,column) in col}
df = pd.DataFrame(Dict)
df.tail()

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,UgandaGlobal Rank
14,1970,"9,405,600",3.33 %,"283,907","10,001",16.5,7.12,47,6.7 %,"629,441",0.25 %,"3,700,437,046",56
15,1965,"7,986,066",3.37 %,"243,794","25,000",16.8,7.05,40,5.5 %,"441,548",0.24 %,"3,339,583,597",65
16,1960,"6,767,095",2.82 %,"175,660",0,17.1,6.95,34,4.4 %,"299,817",0.22 %,"3,034,949,748",65
17,1955,"5,888,793",2.68 %,"146,121",0,17.8,6.90,29,3.5 %,"208,359",0.21 %,"2,773,019,936",65
18,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,UgandaGlobal Rank

In [67]:
cdf = df[['Year','Population','Yearly Change','Migrants (net)','Urban Population','World Population']]
df1 = cdf.rename(columns = {'Yearly Change': 'Yearly_Change','Migrants (net)':'Migrants','Urban Population': 'Urban_Population','World Population':'World_Population'})
df1.head()

   Year  Population Yearly_Change Migrants Urban_Population World_Population
0  2020  45,741,007     1,471,413  168,694       11,775,012    7,794,798,739
1  2019  44,269,594     1,540,558  168,694       11,135,655    7,713,468,100
2  2018  42,729,036     1,562,448  168,694       10,525,083    7,631,091,040
3  2017  41,166,588     1,517,422  168,694        9,942,312    7,547,858,925
4  2016  39,649,166     1,423,713  168,694        9,386,309    7,464,022,049

In [68]:
df1 = df1.replace('\+', '', regex=True)
df1 = df1.replace(',', '', regex=True)
df1.tail()

,Year,Population,Yearly_Change,Migrants,Urban_Population,World_Population
14,1970,9405600,283907,10001,629441,3700437046
15,1965,7986066,243794,25000,441548,3339583597
16,1960,6767095,175660,0,299817,3034949748
17,1955,5888793,146121,0,208359,2773019936
18,Year,Population,Yearly Change,Migrants (net),Urban Population,World Population

In [69]:
df1 = df1[df1['Yearly_Change'] != 'Yearly Change']

In [70]:
df1["Population"] = pd.to_numeric(df1["Population"], errors='ignore')
df1["Year"] = pd.to_numeric(df1["Year"], errors='ignore')
df1["Yearly_Change"] = pd.to_numeric(df1["Yearly_Change"], errors='ignore')
df1["Urban_Population"] = pd.to_numeric(df1["Urban_Population"], errors='ignore')
df1["World_Population"] = pd.to_numeric(df1["World_Population"], errors='ignore')

In [71]:
df1.tail()

,Year,Population,Yearly_Change,Migrants,Urban_Population,World_Population
13,1975,10737403,266361,-55222,762275,4079480606
14,1970,9405600,283907,10001,629441,3700437046
15,1965,7986066,243794,25000,441548,3339583597
16,1960,6767095,175660,0,299817,3034949748
17,1955,5888793,146121,0,208359,2773019936

In [72]:
maximum = df1.max()

In [73]:
maximum

Year                      2020
Population            45741007
Yearly_Change          1562448
Migrants                 40000
Urban_Population      11775012
World_Population    7794798739
dtype: object

### Minimum computation

In [74]:
minimum = df1.min()

In [75]:
minimum

Year                      1955
Population             5888793
Yearly_Change           146121
Migrants               -100000
Urban_Population        208359
World_Population    2773019936
dtype: object

### Mean computation

In [76]:
df_mean = df1.mean()

In [77]:
df_mean

Year                1.994167e+03
Population          2.450544e+07
Yearly_Change       7.849448e+05
Urban_Population    4.766008e+06
World_Population    5.694506e+09
dtype: float64

### Standard deviation computation

In [78]:
standard_deviation = df1.std()

In [79]:
standard_deviation

Year                2.235081e+01
Population          1.456517e+07
Yearly_Change       5.301897e+05
Urban_Population    4.365120e+06
World_Population    1.786229e+09
dtype: float64

### Correlation between features

In [80]:
correlation = df1.corr()

In [81]:
correlation

,Year,Population,Yearly_Change,Urban_Population,World_Population
Year,1.000000,0.968480,0.941166,0.924069,0.999202
Population,0.968480,1.000000,0.988750,0.989812,0.975045
Yearly_Change,0.941166,0.988750,1.000000,0.988875,0.948742
Urban_Population,0.924069,0.989812,0.988875,1.000000,0.933754
World_Population,0.999202,0.975045,0.948742,0.933754,1.000000