#  COVID-19 Situation Update Worldwide , Updated 9 June 2022

By Ciniso Msibi

### Showing the first 5 rows of the data and the last 5 rows of the data

In [2]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\virus msibi\anaconda3\lib\site-packages (4.8.0)

In [4]:
import requests
import lxml.html as lh
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
covid_data = 'https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases'
page = requests.get(covid_data)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')
[len(T) for T in tr_elements[:12]]

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [6]:
tr_elements = doc.xpath('//tr')
col = []
i = 0

for t in tr_elements[0]:
    i+=1
    name = t.text_content()
    print("%d:%s" % (i,name))
    col.append((name,[]))

1:Region
2:Places reporting cases
3:Sum of Cases
4:Sum of Deaths
5:Confirmed cases during the 14-days
			of the reporting  period
6:Reporting period
			YYYY-WW

In [8]:
for j in range(1,len(tr_elements)):
    T = tr_elements[j]
    
    if len(T)!=6:
        break
        
    i = 0
    
    for t in T.iterchildren():
        data = t.text_content()
        col[i][1].append(data)
        
        i+= 1

In [9]:
[len(C) for (title,C) in col]

[224, 224, 224, 224, 224, 224]

In [10]:
Dict = {title:column for(title,column) in col}
df = pd.DataFrame(Dict)

In [11]:
df.head()

,Region,Places reporting cases,Sum of Cases,Sum of Deaths,Confirmed cases during the 14-days\n\t\t\tof the reporting period,Reporting period\n\t\t\tYYYY-WW
0,Africa,Algeria,265897,6875,56,2022-21 and 2022-22
1,,Angola,99761,1900,328,2022-21 and 2022-22
2,,Benin,26952,163,0,2022-21 and 2022-22
3,,Botswana,306716,2703,0,2022-21 and 2022-22
4,,Burkina_Faso,20899,384,0,2022-21 and 2022-22

In [12]:
df.tail()

,Region,Places reporting cases,Sum of Cases,Sum of Deaths,Confirmed cases during the 14-days\n\t\t\tof the reporting period,Reporting period\n\t\t\tYYYY-WW
219,,Tuvalu,3,0,0,2022-21 and 2022-22
220,,Vanuatu,10061,14,1379,2022-21 and 2022-22
221,,Wallis_and_Futuna,454,7,0,2022-21 and 2022-22
222,Other,Cases_on_an_international_conveyance_Japan,705,6,0,2022-21 and 2022-22
223,Total,,531470423,6318391,6705497,